@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #515151;
}

html, body, #root {
    min-height: 100vh;
}

.active {
    @apply bg-chat-blue-normal/20
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    
    .no-scrollbar {
        -ms-overflow-style: none; 
        scrollbar-width: none; 
    }

}
